<!doctype html>
<html>
  <head> 
    <title>SQL console</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="Viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <link href="css/workspace.css" rel="stylesheet" type="text/css"/>
    <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    <link href="css/menu/options/small.css" rel="stylesheet" text="text/css" media="all AND (max-width: 800px)"/>
    <link href="css/menu/options/big.css" rel="stylesheet" text="text/css" media="all AND (min-width: 801px)"/>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-route.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/menu.js" type="text/javascript"></script>
    <script src="js/query.js" type="text/javascript"></script>
    <script src="js/login.js" type="text/javascript"></script>
  </head>
  <body ng-app="sqlConsole">

    <div id="menu" ng-controller="menu">
      <span id="title" class="cell">
        Web SQL Console
      </span>
      
        <ul id="options" class="cell" ng-class="{visible: options.show, hidden: !options.show}">
          <li ng-repeat="point in points">
            <a href="#/{{point.id}}">{{point.name}}</a>
          </li>
          <li>
            <a href="#/login">LogOut</a>
          </li>
        </ul>
      <a id="swing" class="cell" ng-click="options.swing()">
          <img src="img/light.png" width="32px"/>
        </a>
    </div>
    <div id="workspace" ng-view>
    </div>
  </body>
</html>
