<link href="css/query/sql.css" rel="stylesheet" type="text/css"/>
<link href="css/query/buttons.css" rel="stylesheet" tyoe="text/css"/>
<link href="css/query/results.css" rel="stylesheet" type="text/css"/>

<md-card ng-show="error.show">
  <md-toolbar class="md-warn">
	<div class="md-toolbar-tools">
	  <span class="md-flex">Error</span>
	</div>
  </md-toolbar>
  <md-content class="md-padding">
	{{error.message}}
  </md-content>
</md-card>

<md-input-container flex>
  <label>SQL</label>
  <textarea id="sql" ng-model="request.sql" ng-disabled="executing"></textarea>
</md-input-container>

<md-content class="md-padding" ng-show="executing">
  Executing...
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>  
</md-content>

<md-content id="results" ng-show="response.data != undefined">
	<div class="content">
	  <ul class="header">
		<li ng-repeat="name in response.header" bind-once>
		  {{::name}}
		</li>
	  </ul>
	  <ul ng-repeat="row in response.data">     
		<li ng-repeat="name in response.header">
		  {{::row[name]}}
		</li>            
	  </ul>     
	</div>
	<div class="buttons">
	  <md-button class="md-raised">Export</md-button>
	</div>
  </md-content>

<div id="buttons">
  <md-button id="execute" class="md-fab" aria-label="Execute" ng-click="execute()" ng-hide="request.sql == '' || executing">
  <md-tooltip>
    Execute SQL
  </md-tooltip>
  <b>Exec</b>
  </md-button>
</div>
