#results .content
{
    display: table;
    width: 100%;
}

#results .content ul.header
{
  font-weight: bold;
}

#results .content ul.header li
{
  background-color: #cfcfcf;
  padding: 10px;
}

#results .content ul
{
    display: table-row;
}

#results .content li
{
    display: table-cell; 
    border: 1px solid #ececec;
    min-width: 10px;
    padding: 5px;
    font-size: 9pt;
}

#results .buttons
{
  padding: 10px;
}
