#items
{
  visibility: visible !important;
}

#items
{
  white-space: nowrap;
}

#items li
{
  display: inline;
  padding-right: 8px;
  padding-left: 8px;
}

#items li a
{
  color: White;
  text-decoration: none;
}

#swing.cell
{
  display: none;
}
