#options
{
  position: absolute;
  z-index: 2;
  top: 45px;
  right: 0px;
  margin: 0px;
  border-left: 1px solid Black;
  border-bottom: 1px solid Black;
  background-color: #3c404b;
  box-shadow: -1px 2px 2px Gray;
}

#options li
{
  padding: 10px;
  list-style-type: none;
}

#options li a
{
  color: White;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
  font-size: 16pt;
  text-decoration: none;
}

#options.visible
{
  visibility: visible;
}
#options.hidden
{
   visibility: hidden;
}
